:root {
    --gold: #c9a24d;
    --beige: #f5f1ea;
    --dark: #222;
    --grey: #666;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: var(--white);
    color: var(--dark);
}

/* ===== CATEGORY TITLE ===== */
.page-header {
    background: var(--beige);
    padding: 40px 20px;
    text-align: center;
}

.page-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
}

/* ===== CATEGORY DESCRIPTION  ===== */
.category-description {
    max-width: 900px;
    margin: 15px auto 0;
    font-size: 15px;
    line-height: 1.6;
    color: #666;
}

/* ===== LAYOUT ===== */
.container {
    max-width: 100%;
    margin: auto;
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}

/* ===== FILTERS ===== */
.filters {
    padding: 20px;
    height: 500px;
    background-color: #f5f1ea;
    border-radius: 10px;
}

.filters h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.filter-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}


/* ===== SORT ===== */
.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
}

.sort select {
    padding: 8px 12px;
}

/* ===== PRODUCTS ===== */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.product {
    padding: 15px;
    text-align: center;
    transition: 0.3s;
   
}

.product:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.product img {
    border-radius: 15px;
    width: 100%;
}

.product h4 {
    margin: 10px 0 5px;
    font-weight: 500;
}

.product p {
    font-size: 14px;
    color: var(--grey);
}

.product span {
    color: var(--gold);
    font-weight: 600;
    display: block;
    margin: 8px 0;
}

.product button {
    padding: 8px 16px;
    border: none;
    background: var(--gold);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

/* ================= PRODUCT CARD HOVER EFFECT ================= */

.product {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

/* IMAGE ZOOM ON HOVER */
.product img {
    transition: transform 0.4s ease;
}

.product:hover img {
    transform: scale(1.05);
}



/* ===== MOBILE ===== */
@media(max-width: 900px) {
    .container {
        grid-template-columns: 1fr;
    }

    .filters {
        order: 2;
    }
}
