:root {
    --gold: #c9a24d;
    --beige: #f5f1ea;
    --dark: #222;
    --grey: #666;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Playfair Display', serif;
}

body {
    background: var(--white);
    color: var(--dark);
}

/* ===== CATEGORY TITLE ===== */
.page-header {
    background: var(--beige);
    padding: 60px 20px;
    text-align: center;
}

.page-header h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
}

/* ===== CATEGORY DESCRIPTION  ===== */
.category-description {
    max-width: 900px;
    margin: 15px auto 0;
    font-size: 15px;
    line-height: 1.6;
    color: #666;
}

/* ===== LAYOUT ===== */
.container {
    max-width: 100%;
    margin: auto;
    padding: 40px 40px;
    display: grid;
    grid-template-columns: 280px 1fr;
    gap: 30px;
}

/* ===== FILTERS ===== */
.filters {
    padding: 20px;
    height: 500px;
    background-color: #f5f1ea;
    border-radius: 10px;
}

.filters h3 {
    font-family: 'Playfair Display', serif;
    margin-bottom: 15px;
}

.filter-group {
    margin-bottom: 20px;
}

.filter-group h4 {
    margin-bottom: 10px;
    font-weight: 500;
}

.filter-group label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}


/* ===== SORT ===== */
.sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-right: 15px;
}

.sort select {
    padding: 8px 12px;
}

/* ===== PRODUCTS ===== */
.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}


.product {
    padding: 15px;
    text-align: center;
    transition: 0.3s;

}

.product:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
}

.product img {
    border-radius: 15px;
    width: 100%;
}

.product h4 {
    margin: 10px 0 5px;
    font-weight: 500;
}

.product p {
    font-size: 14px;
    color: var(--grey);
}

.product span {
    color: var(--gold);
    font-weight: 600;
    display: block;
    margin: 8px 0;
}

.product button {
    padding: 8px 16px;
    border: none;
    background: var(--gold);
    color: #fff;
    cursor: pointer;
    font-size: 13px;
}

/* ================= PRODUCT CARD HOVER EFFECT ================= */

.product {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.12);
}

/* IMAGE ZOOM ON HOVER */
.product img {
    transition: transform 0.4s ease;
}

.product:hover img {
    transform: scale(1.05);
}

/* corss Buttton (x) */
.filter-btn {
    display: none;
}

.filter-close {
    display: none;
}



/* ================================================= */
/* =============== RESPONSIVE BREAKPOINTS ========== */
/* ================================================= */

/* ---------- Small Laptop (≤1199px) ---------- */
@media (max-width: 1199px) {

    /* Small laptop styles here */

}


/* ---------- Tablet (≤991px) ---------- */
@media (max-width: 991px) {
    
    .container {
        padding: 20px 20px;

    }

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .filter-close {
        display: block;
    }

    /* Show Filter Button */
    .filter-btn {
        display: inline-block;
        padding: 8px 15px;
        background: var(--gold);
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100px;
    }

    /* Filter Panel */
    .filters {
        position: fixed;
        top: 0;
        left: -100%;
        width: 80%;
        height: 100vh;
        background: #fff;
        z-index: 2000;
        padding: 60px 20px 20px;
        /* Top padding for close button */
        overflow-y: auto;
        transition: 0.3s ease;
        box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
    }

    /* When Active */
    .filters.active {
        left: 0;
    }

    /* Close Button Top Right */
    .filter-close {
        position: absolute;
        top: 15px;
        right: 15px;
        background: none;
        border: none;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }

    .filter-group label {
        font-size: 16px;
    }

    /* Hide Showing Products Text */
    .product-count {
        display: none;
    }

    .product img {
        width: 100%;
        height: auto;
    }

    /* Make layout single column */
    .container {
        grid-template-columns: 1fr;
    }

    .sort select {
        width: 100px;
        padding: 8px 15px;
        font-size: 14px;
        border-radius: 5px;
        cursor: pointer;

    }
}



/* ---------- Large Mobile (≤767px) ---------- */
@media (max-width: 767px) {

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

}



/* ---------- Small Mobile (≤480px) ---------- */
@media (max-width: 480px) {

    .products {
        grid-template-columns: repeat(2, 1fr);
        gap: 12px;
    }

}